$height: 6rem;
$width: 6rem;;
$box-border: 1px solid black;

.arrows{
    padding: 0 1rem;
    cursor: pointer;

    &:hover{
        color: grey;
    }
}

.calendar{
    text-align: center;
    background-color: blue;

    &_header{
        color: white;
        font-size: 2rem;
        font-weight: bold;
        background-color: green;
    }
}

.week-blank{
    height: $height;
    border: $box-border;
    width: $width;
}

.week-name{
    height: $height;
    width: $width;

    &__row{
        background-color: green;
    }
}

.week-day{
    height: $height;
    border: $box-border;
    width: $width;

    &:hover{
        background-color: grey;
        cursor: pointer;
    }
}