.day-header{
    display: flex;
    font-weight: bold;
    background-color: #ABAEF7;
    color: white;
    min-height: 20vh;
    width: 100%;
    margin: 0 auto;

    &-back{
        margin: auto;
        font-size: 1.5rem;

        &:hover{
            color: rgb(145, 149, 255);
            cursor: pointer;
        }
    }

    &-date{
        display: flex;
        width: 50%;
        margin: auto;
        font-size: 3rem;
    }

    &__item{
        margin-left: 2rem;
    }
}