.week-day {
  padding: 3rem;
  height: 3rem;
  border: 1px solid black;
  text-align: center; }
  .week-day-name {
    padding: 3rem;
    height: 3rem;
    border: 1px solid black;
    text-align: center; }
