.arrows {
  padding: 0 1rem;
  cursor: pointer; }
  .arrows:hover {
    color: grey; }

.calendar {
  text-align: center;
  background-color: blue; }
  .calendar_header {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: green; }

.week-blank {
  height: 6rem;
  border: 1px solid black;
  width: 6rem; }

.week-name {
  height: 6rem;
  width: 6rem; }
  .week-name__row {
    background-color: green; }

.week-day {
  height: 6rem;
  border: 1px solid black;
  width: 6rem; }
  .week-day:hover {
    background-color: grey;
    cursor: pointer; }
